<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
           <property name="connection.url">
               jdbc:mysql://127.9.85.2:3306/budgetting
          </property>
        <property name="connection.username">adminKApJgFA</property>
        <property name="connection.password">UDy_IYQvcd1d</property>

        <!--  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
           <property name="connection.url">jdbc:mysql://sql7.freemysqlhosting.net:3306/sql7111072</property>
           <property name="connection.username">sql7111072</property>
          <property name="connection.password">9P3NqJ3B5l</property>-->


        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.current_session_context_class">
            org.hibernate.context.internal.ThreadLocalSessionContext
        </property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <property name="hbm2ddl.auto">create</property>

        <mapping class="be.ghostwritertje.budgetting.domain.Rekening"/>
        <mapping class="be.ghostwritertje.budgetting.domain.User"/>
        <mapping class="be.ghostwritertje.budgetting.domain.Statement"/>


    </session-factory>

</hibernate-configuration>