<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.3.167.130:3306/wicket</property>
        <!--<property name="connection.url">jdbc:mysql://127.0.0.1:3306/wicket</property>-->

        <property name="connection.username">wicket</property>
        <property name="connection.password">wicket</property>


        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.current_session_context_class">
            org.hibernate.context.internal.ThreadLocalSessionContext
        </property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <property name="hbm2ddl.auto"> create</property>


        <mapping class="be.estateeleven.domain.User"/>
        <mapping class="be.estateeleven.domain.Verhuurder"/>
        <mapping class="be.estateeleven.domain.Huurder"/>
        <mapping class="be.estateeleven.domain.Bieding"/>
        <mapping class="be.estateeleven.domain.Concept"/>
        <mapping class="be.estateeleven.domain.Faciliteit"/>
        <mapping class="be.estateeleven.domain.Pand"/>


    </session-factory>

</hibernate-configuration>